body {
    background-color: rgb(43, 129, 172);
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

main {
    background-color: rgb(51, 153, 204);
    min-width: 500px;
}
section {
    width: 50%;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;
    min-width: 400px;
}
h1 {
    margin-top: 0;
}
ul {
    background-color: white;
    list-style-type: none;
    font-size: 0;
    border: 2px solid white;
    padding: 0;
}
li {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
    width: 25%;
    padding: 30px 0;
}
ul:hover li {
    opacity: 0.5;
}
ul:hover li:hover {
    opacity: 1;
}
li:first-child, li:nth-child(9) {
    width: 50%;
}
li:last-child {
    width: 100%;
}
div {
    opacity: 0.8;
}
li:first-child {
    background-color: rgb(51, 153, 204);
}
li:nth-child(2) {
    background-color: rgb(51, 204, 204);
}
li:nth-child(3)  {
    background-color: rgb(153, 102, 153);
}
li:nth-child(4) {
    background-color: rgb(194, 71, 71);
}
li:nth-child(5) {
    background-color: rgb(226, 103, 74);
}
li:nth-child(6) {
    background-color: rgb(255, 204, 102);
}
li:nth-child(7) {
    background-color: rgb(153, 204, 153);
}
li:nth-child(8) {
    background-color: rgb(102, 153, 153);
}
li:nth-child(9) {
    background-color: rgb(204, 102, 153);
}
li:nth-child(10) {
    background-color: rgb(51, 153, 102);
}
li:last-child {
    background-color: rgb(102, 102, 153);
}
* {
    transition: all .1s ease-in;
}